// Colors
$moderate_violet: hsl(263, 55%, 52%);
$very_dark_grayish_blue: hsl(217, 19%, 35%);
$very_dark_blackish_blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light_gray: hsl(0, 0%, 81%);
$light_grayish_blue: hsl(210, 46%, 95%);

html {
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h2,
p,
body {
  margin: 0;
}

body {
  background-color: $light_grayish_blue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 96px 24px;

  article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 24px 32px;
    box-shadow: 0 5px 20px -15px $very_dark_blackish_blue;

    .profile {
      display: flex;
      gap: 16px;

      picture {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 50%;
          width: 28px;
          height: 28px;
        }
      }

      .name-data {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: $white;

        >h2 {
          font-size: 13px;
        }

        >p {
          opacity: 50%;
          font-size: 11px;
        }
      }
    }

    .headline {
      font-size: 20px;
      font-weight: 600;
      color: $white;
    }

    .review {
      color: $white;
      opacity: 70%;
    }

    &:nth-child(1) {
      grid-area: a;
      background-color: $moderate_violet;
      background-image: url('../images/bg-pattern-quotation.svg');
      background-position: 90% 0;
      background-repeat: no-repeat;

      .profile picture img {
        border: 2px solid #A775F1;
      }
    }

    &:nth-child(2) {
      grid-area: b;
      background-color: $very_dark_grayish_blue;

      .name-data,
      .headline,
      .review {
        color: $white;
      }
    }

    &:nth-child(3) {
      grid-area: c;
      background-color: $white;

      .name-data,
      .headline,
      .review {
        color: $very_dark_grayish_blue;
      }

    }   

    &:nth-child(4) {
      grid-area: d;
      background-color: $very_dark_blackish_blue;

      .profile picture img {
        border: 2px solid #A775F1;
      }

      .name-data,
      .headline,
      .review {
        color: $white;
      }
    }

    &:nth-child(5) {
      grid-area: e;
      background-color: $white;

      .name-data,
      .headline,
      .review {
        color: $very_dark_grayish_blue;
      }
    }
  }
}

@media (min-width: 576px) {
  main {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1110px;
    padding: 16px;
    display: grid;
    grid-template-areas: "a a b e"
      "c d d e";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}